[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-jwt-extended = "*"
flask-uploads = "*"
flask-script = "*"
flask-migrate = "*"
flask-socketio = "*"
pymysql = "*"
gunicorn = "*"
eventlet = "*"

[requires]
python_version = "3.7"
